@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Amazon/Content/amazonstyles.css");    
}
<fieldset class="amazon-login-block">
    <legend>@T("Plugins.ExternalAuth.Amazon.Login")</legend>
    <a href="@Url.RouteUrl("Plugin.ExternalAuth.Amazon.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="amazon-btn">
        &nbsp;</a>
</fieldset>
